<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="/public/style.css" type="text/css" /> --}}
		<title>Senpai Grill!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
        <style>
        h1 {text-align: center;}
        img { display: block; margin-left: auto; margin-right: auto; width: 25%; height: auto;}
        .slogan {text-align: center;}
        .Ava {float: left; margin-left: 400px;}
        .Koh {float: right; margin-right: 400px;}
        .create-form {text-align: center; margin-top: 350px;}
        </style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
