<li>
    <p><span class="label">ID:</span> {{id}}</p>
    <p><span class="label">Name:</span> {{burger_name}}</p>
    <button data-id="{{id}}" class="devour" data-devoured="{{devoured}}">Devour!</button>
</li>